<div class="flex h-full">
  <form autocomplete="off" action="" class="py-4 w-1/2">
    <div class="flex">
      <label class="" for="">Nom de la boutique :</label>
      <input
        autocomplete="off"
        type="text"
        name=""
        placeholder="Boutique..."
        class="dark:bg-transparent dark:border-gray-700"
      />
    </div>
    <div class="flex">
      <label class="block w-3/12 py-2" for="">Adresse :</label>
      <input
        autocomplete="off"
        type="text"
        name=""
        placeholder="Adresse..."
        class="dark:bg-transparent dark:border-gray-700"
      />
    </div>
    <div class="flex">
      <label class="block w-3/12 py-2" for="">Téléphone :</label>
      <input
        type="text"
        name=""
        placeholder="Téléphone..."
        class="dark:bg-transparent dark:border-gray-700"
      />
    </div>
    <div class="flex">
      <label class="block w-3/12 py-2" for="">Email :</label>
      <input
        type="text"
        name=""
        placeholder="Email..."
        class="dark:bg-transparent dark:border-gray-700"
      />
    </div>
    <div class="flex">
      <label class="block w-3/12 py-2" for="">Page Facebook :</label>
      <input
        type="text"
        name=""
        placeholder="Page Facebook..."
        class="dark:bg-transparent dark:border-gray-700"
      />
    </div>
    <div class="flex">
      <label class="block w-3/12 py-2" for="">Site web :</label>
      <input
        type="text"
        name=""
        placeholder="Site web..."
        class="dark:bg-transparent dark:border-gray-700"
      />
    </div>

    <button class="w-full bg-secondary py-2 mt-8 text-white font-semibold rounded-md">
      Confirmer
    </button>
  </form>
  <div class="w-1/2 p-4">
    <div
      class="w-full h-full border border-gray-200 dark:border-gray-700 shadow-sm rounded-lg px-4 text-sm"
    >
      <div class="text-center border-b border-dashed border-gray-700 py-2">
        <h1 class="font-bold">HIBOUTIK</h1>
        <h2>30 place du centre - 01234 MAVILLE</h2>
      </div>
      <div class="flex justify-between border-b border-dashed border-gray-700 px-4 py-2 text-sm">
        <h2>01/04/2022</h2>
        <h2>Client : MaCliente</h2>
      </div>

      <div class="my-2 border-b border-gray-300 text-sm">
        <h1 class="text-center underline">Articles</h1>
        <div
          class="flex justify-between text-center mx-4 py-1 border-b border-dashed border-gray-700"
        >
          <div class="w-1/4">3 x Article_1</div>
          <div class="w-1/4">120 DA</div>
        </div>
        <div
          class="flex justify-between text-center mx-4 py-1 border-b border-dashed border-gray-700"
        >
          <div class="w-1/4">2 x Article_2</div>
          <div class="w-1/4">150 DA</div>
        </div>
        <div class="px-4 py-2">
          <h1><span class="font-bold">Total</span>: 510</h1>
          <h1><span class="font-bold">Remise</span> : 10DA</h1>
          <h1><span class="font-bold">Total après remise</span> : 500da</h1>
        </div>
      </div>

      <div class="text-center text-sm py-2">
        <h1>048 75 53 95</h1>
        <h1>contact@hiboutik.com</h1>
        <h1>Facebook : HiBoutikSba</h1>
        <h1>hiboutik.com</h1>
      </div>
    </div>
  </div>
</div>
