<div class="content m-4 h-1/4 flex justify-between gap-4">
  <div class="w-3/4 backdrop-blur-md rounded-lg shadow-lg">
    <app-price [total_price]="total_price" [selected_caisse]="selected_caisse"></app-price>
  </div>
  <div class="w-1/4 backdrop-blur-md rounded-lg">
    <app-date></app-date>
  </div>
</div>

<div class="content m-4 h-4/6 flex justify-between gap-4">
  <div class="w-3/4 h-full backdrop-blur-2xl rounded-lg shadow-lg overflow-hidden">
    <app-products [all_products]="all_products" [selected_caisse]="selected_caisse"></app-products>
  </div>
  <div class="w-1/4 flex flex-col gap-4 overflow-hidden">
    <div class="h-1/2 rounded-lg">
      <app-caisses [selected_caisse]="selected_caisse" [total_caisses]="total_caisses"></app-caisses>
    </div>
    <div class="h-full bg-white rounded-lg dark:bg-gray-900">
      <app-clients></app-clients>
    </div>
    <div class="h-1/2 bg-white rounded-lg dark:bg-gray-900">
      <app-confirm></app-confirm>
    </div>
  </div>
</div>
