<div class="p-4 h-full">
  <div class="w-full h-full">
    <div class="text-responsive-lg text-center text-gray-700 font-bold leading-tight py-2 dark:text-gray-300">
      {{ date }} <br />
      {{ time }}
    </div>
    <a
      href=""
      class="block w-full mx-auto mt-4 py-2 px-4 bg-primary text-white font-bold text-center rounded-lg bottom-0 text-responsive-sm hover:opacity-75 transition duration-500 active:translate-y-1 dark:bg-dark_secondary"
    >
      Voir la recette
    </a>
  </div>
</div>
