<form
  autocomplete="off"
  class="h-14 flex dark:text-gray-200 border-b border-gray-100 dark:border-gray-800"
>
  <input
    [(ngModel)]="client_search"
    name="serch_client"
    (input)="show_client()"
    type="text"
    class="block w-full h-full shadow-md bg-transparent px-8 focus:outline-none text-responsive-sm dark:bg-dark_third"
    placeholder="Chercher un client..."
  />
</form>
<div class="px-6 h-full text-gray-600 dark:text-gray-200 relative">
  <div class="py-1 h-full">
    <div class="my-3 text-responsive-sm overflow-x-auto"><span class="font-bold">Nom</span> :</div>
    <div class="my-5 text-responsive-sm overflow-x-auto">
      <span class="font-bold">Produits achetés</span> :
    </div>
    <div class="my-5 text-responsive-sm overflow-x-auto">
      <span class="font-bold">Total depensé</span> :
    </div>
    <div class="my-5 text-responsive-sm overflow-x-auto">
      <span class="font-bold">Remise</span> :
    </div>
  </div>
  <div
    *ngIf="is_client"
    class="absolute bg-white top-0 left-0 w-full h-fit shadow-lg dark:bg-dark_secondary"
  >
    <div
      [ngClass]="{ 'bg-gray-300 dark:bg-gray-700': selected_client[client.id] }"
      (click)="select_client(client.id)"
      *ngFor="let client of all_clients; let i = index"
      class="w-full flex px-10 py-3 border-t border-gray-300 border-dashed cursor-pointer hover:bg-gray-300 dark:border-gray-700 dark:hover:bg-gray-700"
    >
      <div class="w-1/12">{{ client.id }}.</div>
      <div class="w-6/12">
        {{ client.nom }}
      </div>
      <div class="w-5/12">
        {{ client.num_tel }}
      </div>
    </div>
  </div>
</div>
